@font-face {
  font-family: Bitter;
  src: url('./Bitter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bitter;
  src: url('./Bitter-Black.ttf');
  font-weight: bold;
  font-style: normal;
}

.wrap {
  margin:auto;
  width: 70%;
  font-size: 25px;
  font-family: Bitter;
  padding: 25px;
  margin-top: 100px;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

.title {
  font-size: 70px;
  text-align: center;
  color: #3f51b5;
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #f5f2f2;
}
